rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function hasAuth() {
      return request.auth.uid != null;
    }

    function isOwner(uid) {
      return hasAuth() && request.auth.uid == uid;
    }

    match /user/{uid} {
      allow get: if isOwner(uid);
      allow list: if false;
      allow create: if false;
      allow update: if isOwner(uid);
      allow delete: if false;

      // 参加中スタンプラリー
      match /entryStampRally/{entryStampRallyId} {
        // ログインユーザ = 自分自身なら参加中のスタンプラリーを取得
        // getもlistも同じ条件となるはずなのでreadにした
        allow read: if isOwner(uid);

        // ログインユーザ = 自分自身なら参加中スタンプラリーを作成/更新/削除してよい
        allow create: if isOwner(uid);
        allow update: if isOwner(uid);
        allow delete: if isOwner(uid);

        // 参加中のスタンプラリーの場所
        match /spot/{spotId} {
        // ログインユーザ = 自分自身なら参加中のスタンプラリーの場所を取得
        // getもlistも同じ条件となるはずなのでreadにした
        allow read: if isOwner(uid);

        // ログインユーザ = 自分自身なら参加中スタンプラリーの場所を更新（スタンプを取得した時間を入れるイメージ）
        allow create: if false;   //ユーザが参加中のスタンプラリーの場所を追加することはできない
        allow update: if isOwner(uid);
        allow delete: if false;   // ユーザが参加中のスタンプラリーの場所を削除することはできない
        }
      }
    }

    // 公開中スタンプラリー
    match /publicStampRally/{publicStampRallyId} {
      // 誰でも公開中スタンプラリーは見て良い
      allow read: if true;
      
      // ログインユーザ = 自分自身ならスタンプラリーを作成してもよい
      allow create: if isOwner(uid);

      // 公開中スタンプラリーの場所
      match /spot/{spotId} {
        // 誰もで見て良さそう
        allow read: if true;

        // ログインユーザ = 自分自身なら場所を作成してもよい
        allow create: if isOwner(uid);
      }
  }
}